.bio-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: $white;
    z-index: 5;
    width: 100%;
    height: auto;
    padding-bottom: 1rem;
    position: fixed;
    @include respond(lg) {
        left: 0px;
        top: 6%;
        bottom: 6%;
        height: auto;
        width: 35rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-bottom: 0;
    }
    &__content {
        padding: $homepage-spacing-left;
        position: relative;
        @include respond(lg) {
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    &__title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 11rem;
        padding-top: 2rem;
        @include respond(md) {
            padding-top: 1.5rem;
        }
        @include respond(lg) {
            height: auto;
            // padding: 0 0px 3rem;
            padding: 0 0px 1rem;
        }
        img, source {
            display: none;
            @include respond(lg) {
                display: block;
                width: 50%;
            }
        }
        h2 {
            font-size: 2rem;
            padding-bottom: 1rem;
            color: $col-one;
            font-weight: 400;
            font-family: Raleway, sans-serif;
            @include respond(lg) {
                font-size: 2.5rem;
                line-height: 4.5rem;
            }
        }
    }
    &__close-button {
        opacity: 0;
        position: absolute;
        top: 10.5rem;
        right: 1.5rem;
        width: 5rem;
        height: 5rem;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        transition: opacity 0.5s linear;
        img {
            width: 5rem;
            height: 5rem;
            @include respond(lg) {
                width: 3rem;
                height: 3rem;
            }
        }
        &--show {
            opacity: 1;
            cursor: pointer;
            @include respond(lg) {
                display: none;
            }
        }
    }
}
.bio-info {
    position: relative;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    @include respond(lg) {
        padding: 1rem 0 0;
        font-size: initial;
        opacity: 1;
        top: 0;
        overflow-y: auto;
        height: 50%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    @include respond(xlg) {
        // padding: 0 0px 3rem;
    }
    &__button {
        font-size: 2rem;
        width: 7rem;
        height: 4rem;
        position: relative;
        z-index: 300;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: baseline;
        -ms-flex-align: baseline;
        align-items: baseline;
        color: $bodyCopyLight;
        cursor: pointer;
        &:hover {
            color: $hover;
        }
        &:visited {
            color: $bodyCopyLight;
        }
        h3 {
            font-size: 3rem;
            font-family: Raleway, sans-serif;
            padding-right: 0.5rem;
        }
        span {
            font-size: 2rem;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: -webkit-transform 0.2s linear;
            transition: -webkit-transform 0.2s linear;
            -o-transition: transform 0.2s linear;
            transition: transform 0.2s linear;
            transition: transform 0.2s linear, -webkit-transform 0.2s linear;
        }
        &--open {
            span {
                -webkit-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
        }
        @include respond(lg) {
            display: none;
        }
    }
    &__content {
        height: 0px;
        -webkit-transition: height 0.25s;
        -o-transition: height 0.25s;
        transition: height 0.25s;
        width: 90%;
        font-size: 2rem;
        &--show {
            height: 14.5rem;
            @include respond(sl) {
                height: 10rem;
            }
            @include respond(md) {
                height: 8rem;
            }
        }
        @include respond(lg) {
            height: auto;
        }
    }
    &__contact-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; 
        -webkit-box-align: start; 
        -ms-flex-align: start; 
        align-items: start;
        height: 0;
        opacity: 0;
        // transition: opacity 0.75s;
        p {
            display: none;
            @include respond(lg) {
                display: block;
                font-family: "Roboto Slab",sans-serif;
                font-size: 2.5rem;
                font-weight: 500;
                color: #9e0059;
            }
        }
        div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            a {
                margin: 0.5rem 1.5rem 0 0;
                font-size: 2rem;
                svg {
                    width: 3.5rem;
                    height: 3.5rem;
                }
                &:hover {
                    .icon-circle {
                        stroke: $hover3;
                    }
                    .icon-letters {
                        fill: $hover3;
                    }
                    color: $hover3;
                    @include respond(lg) {
                        .icon-circle {
                            stroke: $hover;
                        }
                        .icon-letters {
                            fill: $hover;
                        }
                        color: $hover;  
                    }
                }
            }
        }
        &--show {
            height: auto;
            -webkit-transition: opacity 0.25s 0.25s;
            -o-transition: opacity 0.25s 0.25s;
            transition: opacity 0.25s 0.25s;
            opacity: 1;
            @include respond(lg) {
                // height: 0; 
                // opacity: 0;
            }
        }
        @include respond(lg) {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;   
            height: auto;
            opacity: 1;
        }
    }
}
/* bio-section ends */

