$time: 330ms;
.project-content__btn {
  // font-family: 'Source Sans Pro', sans-serif;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  border-radius: 5px;
  position: relative;
  min-width: 15rem;
  max-width: 90vw;
  overflow: hidden;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  -webkit-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
  text-decoration: none;
  & + & {
    margin-top: 1rem;
  }
  span {
    position: relative;
    z-index: 1;
  }
  &:before {
    content: "";
    background-color: #21D4FD;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: scale(4) translateX(-100%);
    -ms-transform: scale(4) translateX(-100%);
    transform: scale(4) translateX(-100%);
    -webkit-transition: all $time * 1.5 ease-out;
    -o-transition: all $time * 1.5 ease-out;
    transition: all $time * 1.5 ease-out;
  }
  &:hover,
  &:focus,
  &:active {    
    &:before {
      -webkit-transform: scale(4) translate(30%);
      -ms-transform: scale(4) translate(30%);
      transform: scale(4) translate(30%);
    } 
  }
}
.project-content__btn--beta {
    background-color: #0390b1;
    color: #ffffff;
    &:before {
        background-color: #BBFF00;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, #BBFF00), to(#0390b1));
        background-image: -o-linear-gradient(left, #BBFF00 30%, #0390b1 100%);
        background-image: linear-gradient(to right, #BBFF00 30%, #0390b1 100%);
        position: absolute;
    }
    &:hover,
    &:focus,
    &:active {    
        // color: #08AEEA;
        color: #1d1d1d;
    }
}
